
.DS_Store
dandp5-stroopeffect/.ipynb_checkpoints/Stroop Effect Analysis-checkpoint.ipynb
dandp2-titanic/.ipynb_checkpoints/Test-checkpoint.ipynb
dandp2-titanic/.ipynb_checkpoints/Titanic_Data_Investigation-checkpoint.ipynb
